[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "B0udLUqx7lbNkFVBBiCkoymms"},
	    {api_secret, "WjykV8qWqx6prl4iINTZQOeNC5YbJp2yEvmuQAL6seaqjQraGZ"},
	    {access_token, "3862041801-5PEsadimFt8rs4IS61HXsgoMuwppgmKHp6Hy6Cz"},
	    {access_token_secret, "L6GZ9NRI248awLILLpdEhBB0WQmte89xrzKpsrDl1Gc1s"}]}]}]}].
